@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
    width: 100%;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: .4s;
}

a{
    text-decoration: none;
    transition: .4s;
    color: inherit;
}

ul li{
    list-style: none;
}

